body {
  margin-top: 5rem;
  padding: 0rem;
  font-size: 1rem;
}

.nav {
  left: 0rem;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 100%;
  margin: 0px;
  position: fixed;
  top: 0;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  display: flex;
  height: 100%;
  align-items: stretch;
  padding: 0.25rem;
  gap: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.nav li:hover {
  background-color: #777;
}
